---
layout: base.njk
---
<article class="interview">
    <div id="top-bar"><a href="/">← Back</a></div>
    <header>
        <h1>{{ title }}</h1>
        <p>
            <a href="{{ source }}" target="_blank">Convened</a> by {{ series }} on {{ date | date: "%Y-%m-%d" }}. {% if transcription.source %}<a href="{{ transcription.source }}" target="_blank">Transcribed</a>{% else %}Transcribed{% endif %} by {{ transcription.author }} on {{ transcription.date | date: "%Y-%m-%d" }}.
            <br />
            <a href="https://github.com/marcuswhybrow/ray-peat-rodeo/edit/main/{{ page.inputPath }}" target="_blank">Edit this page on GiHub</a> to contribute corrections of any kind.
        </p>
    </header>
    <main>
        {{ content }}
    </main>
</article>